{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <main class="mt-5">
        <div class="container-fluid ">
            <div class="row column-gap-5 ">
                <div class="col bg-light py-3">
                    <h3>{% translate "Summary" %}</h3>
                    <p>
                        <p>{% translate "Start date:" %} {{project.start_date}}</p>
                        <p>{% translate "End date:" %} {{project.end_date}}</p>
                    </p>

                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% translate "Task" %}</td>
                                    <td>{{task_count}}</td>
                                </tr>
                                <tr>
                                    <td>{% translate "Stage" %}</td>
                                    <td>{{stages.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col bg-light py-3">
                    <div>
                        <h3>{% translate "Members" %}</h3>
                        <table class="table table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Role" %}</th>
                                    <th scope="col">{% translate "Member" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dev</td>
                                    <td>
                                        {% for user_project in user_projects %}
                                            {% if user_project.role == MEMBER %}
                                                {{user_project.user}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>PM</td>
                                    <td>
                                        {% for user_project in user_projects %}
                                            {% if user_project.role == PM %}
                                                {{user_project.user}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="row p-3 bg-light mt-5 column-gap-5">
                <h3 class="col-12">{% translate "Stage" %}</h3>
                {% if stages %}

                    {% for stage in stages %}
                        <div class="card col-4" style="width: 18rem;">
                            <div class="card-body">
                                <a href="{% url 'detail-stage' project.pk stage.pk %}" class="card-title">{{stage.name}}</a>
                                <p class="card-text">{% translate "Start date:" %} {{stage.start_date}}</p>
                                <p class="card-text">{% translate "End date:" %} {{stage.end_date}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p> {% translate "There is no stage " %}</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}

