{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/project_detail.css" %}">
{% endblock css %}


{% block content %}
    <main class="mt-5">
        <div class="container-fluid ">
            <div class="row column-gap-5 ">
                <div class="col bg-light py-3">
                    <h3>{% translate "Summary" %}</h3>
                    <p>
                    <p>{% translate "Start date:" %} {{ project.start_date }}</p>
                    <p>{% translate "End date:" %} {{ project.end_date }}</p>
                    </p>

                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">{% translate "Total" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{% translate "Task" %}</td>
                                <td>{{ task_count }}</td>
                            </tr>
                            <tr>
                                <td>{% translate "Stage" %}</td>
                                <td id="num-stage">{{ stage_active.count }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col bg-light py-3">
                    <div>
                        <h3>{% translate "Members" %}</h3>
                        <a href="{% url "add-user-to-project" project.pk %}">{% translate "Add" %}</a>
                        <table class="table table-bordered mt-4">
                            <thead>
                            <tr>
                                <th scope="col">{% translate "Role" %}</th>
                                <th scope="col">{% translate "Member" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Dev</td>
                                <td>
                                    {% for user_project in user_projects %}
                                        {% if user_project.role == MEMBER %}
                                            {{ user_project.user }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>PM</td>
                                <td>
                                    {% for user_project in user_projects %}
                                        {% if user_project.role == PM %}
                                            {{ user_project.user }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% translate "Stage-Oner" %}</td>
                                <td>
                                    {% for user_project in user_projects %}
                                        {% if user_project.role == STAGE_OWNER %}
                                            {{ user_project.user }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row p-3 bg-light mt-5 column-gap-5">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="">{% translate "Stage" %}</h3>
                    <a href="{% url 'create-stage' project.pk %}" class="btn btn-primary">{% translate "Create" %}</a>
                </div>

                {% if stage_active %}
                    {% for stage in stage_active %}
                        <div class="card col-4" id="stage-{{ stage.pk }}">
                            <div class="card-body">
                                <a href="{% url 'detail-stage' project.pk stage.pk %}"
                                   class="card-title">{{ stage.name }}</a>
                                <p class="card-text">{% translate "Start date:" %} {{ stage.start_date }}</p>
                                <p class="card-text">{% translate "End date:" %} {{ stage.end_date }}</p>
                                <a href="{% url 'update-stage' project.pk stage.pk %}" class="btn btn-primary">
                                    {% translate "Update" %}
                                </a>
                                <button class="btn btn-danger delete-stage" data-stage-id="{{ stage.pk }}"
                                        data-project-id="{{ project.pk }}">
                                    {% translate "Delete" %}
                                    {% csrf_token %}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p> {% translate "There is no stage " %}</p>
                {% endif %}
            </div>
            <div class="row p-3 bg-light mt-5 column-gap-5 stage-closed">
                <h3 class="col-12">{% translate "Stage Inactive" %}</h3>
                {% if stage_closed %}
                    {% for stage in stage_closed %}
                        <div class="card text-white bg-secondary mb-3 col-4" style="width: 18rem;"
                             id="stage-{{ stage.pk }}">
                            <div class="card-body">
                                <a href="{% url 'detail-stage' project.pk stage.pk %}"
                                   class="card-title">{{ stage.name }}</a>
                                <p class="card-text">{% translate "Start date:" %} {{ stage.start_date }}</p>
                                <p class="card-text">{% translate "End date:" %} {{ stage.end_date }}</p>
                                <button class="btn btn-info active-stage" data-stage-id="{{ stage.pk }}"
                                        data-project-id="{{ project.pk }}">
                                    {% translate "Active" %}
                                    {#                                    {% csrf_token %}#}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
{% block js %}
    <script src="{% static 'sweetalert2/sweetalert2.js' %}"></script>
    <script src="{% static 'js/delete_stage.js' %}"></script>
{% endblock js %}

