{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "boostrap/css/bootstrap.min.css" %}">
    <script src="{% static "boostrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
    {% block title %}<title>Project Management</title>{% endblock title %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Hello</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% translate "Project" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% translate "Task" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% translate "Login" %}</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="{% translate "Search" %}" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">{% translate "Search" %}</button>
                    </form>

                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>

